/* Global */
.global-page{
    /* padding: 0 100px; */
    /* background-color: rgb(221 224 227); */
}
.heading {
    text-align: center;
    padding: 0 0 3rem 0;
    font-size: xx-large;
    font-family: "Varela Round";
    font-weight: 600;
}
body{
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: rgb(246 246 246) !important;
}
/* navbar */
.navbar{
    background-color: white;
}
.nav-logo img{
    width: 70px;
    height: 80px;
}
.navbar-collapse{
    justify-content: flex-end;
}
.nav-last{
    padding: 0 0 0 15px !important;
}
.nav-link{
    font-weight: 700 !important;
    font-family: "Varela Round";
    color: black;
}
.nav-link:active{
    border-bottom: 0.25rem solid red;
}
#mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}
#mainNav.navbar-shrink {
    background-color: black;
}
#mainNav {
    min-height: 3.5rem;
    background-color: black;
  }
  #mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
  }
  #mainNav .navbar-toggler:focus {
    outline: none;
  }
  #mainNav .navbar-brand {
    color: #000;
    font-weight: 700;
    padding: 0.9rem 0;
  }
  #mainNav .navbar-nav .nav-item:hover {
    color: fade(red, 80%);
    outline: none;
    background-color: transparent;
  }
  #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
  }
  @media (min-width: 992px) {
    #mainNav {
      padding-top: 0;
      padding-bottom: 0;
      border-bottom: none;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      padding: 0.5rem 0;
      color: rgba(255, 255, 255, 0.5);
    }
    #mainNav .nav-link {
      transition: none;
      padding: 1rem 1.5rem;
      color: rgb(0, 0, 0);
    }
    #mainNav .nav-link:hover {
      color: red;
    }
    #mainNav .nav-link:active {
      color:  rgb(255, 255, 255);
    }
    #mainNav.navbar-shrink {
      background-color: black;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: black;
    }
    #mainNav.navbar-shrink .nav-link {
      color: rgb(255, 255, 255);
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: red;
    }
    #mainNav.navbar-shrink .nav-link:active {
      color: rgb(255, 255, 255);
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: rgb(255, 255, 255);
      outline: none;
      border-bottom: 0.25rem solid red;
    }
  }



/* INTRO */
.main-intro{
    padding: 160px 0 0 0;
    width: 1100px;
    margin: auto;
    /* height: 100vh;
    background-image: url(/assests/images/Untitled\ design.png);
    background-repeat: no-repeat;
    background-size: cover; */
}
.main-intro-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Great Vibes", cursive;
    font-weight: 600;
}
.comp-name{
    font-size: 48px;
}
.comp-tag{
    font-size: 32px;
}
.comp-tag-span{
    color: red;
}


/* ABOUT US */
.main-about{
    width: 1100px;
    margin: auto;
}
.about-head{
    padding: 160px 0 0 0;
    text-align: center;
}
.about-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 0 80px 0;
}
.about-left img{
    width: 200px;
    height: 200px;
}
.about-right{
    width: 600px;
    font-family: "Varela Round";
    font-size: 16px;
    font-weight: 500;
}


/* VISION US */
.main-vision{
    width: 1100px;
    margin: auto;
}
.vision-head{
    text-align: center;
}
.vision-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.vision-right img{
    width: 200px;
    height: 200px;
}
.vision-left{
    width: 600px;
    font-family: "Varela Round";
    font-size: 16px;
    font-weight: 500;
}



/* OUR PRODUCTS */
.main-products{
    width: 1100px;
    margin: auto;
}
.product-head{
    padding: 80px 0 0 0;
    text-align: center;
}
.pline{
    padding: 25px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pbox{
    background-color: #dedede;
    padding: 20px;
    border-radius: 15px;
    height: 100%;
}
.pbox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.3s;
    height: 320px;
}
.pbox:hover{
    transform: scale(1.05);
}
.pimg img{
    width: 150px;
    height: 220px;
    border-radius: 10px;
}
.pfull img{
    width: 300px;
}
.pdesc p{
    text-align: center;
    margin: 20px 0 0 0 !important;
    font-family: "Varela Round";
    font-size: 16px;
    font-weight: 600;
    width: 150px;
}


/* CUSTOMER REVIEWS */
.wrapper {
    /* max-width: 1100px;
    margin: auto; */
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.wrapper .box {
    background: #fff;
    width: calc(33% - 10px);
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.wrapper .box .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.box .content .image {
    height: 75px;
    width: 75px;
    padding: 3px;
    background: #5e5e5e;
    border-radius: 50%;
}
.content .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}
.box:hover .content .image img{
    border-color: #fff;
}
.box{
    transition: 0.3s;
}
.box:hover{
    transform: scale(1.05);
}
.our-team-container{
    padding: 100px 0 20px 0;
}
.our-team-section{
    width: 1100px;
    margin: auto;
}
.box p{
    font-family: "Varela Round";
    font-size: 16px;
    font-weight: 500;
}
.name, .job{
    font-family: "Varela Round";
    font-size: 16px;
    font-weight: 500;
}


/* CONTACT US */
.heading-section{
    padding: 80px 0 0 0;
}
.ftco-section{
    margin-bottom: 8rem;
  }
  .info-wrap{
    background-color: #dedede;
  }
  .sm-btn{
    margin: 1rem 0 0 0;
  }
  .send-btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: 700;
  }
  .send-btn:focus{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-weight: 700;
  }
  .wt-txt{
    margin: 0 0 2rem 0.5rem;
    font-family: "Varela Round";
  }
  .wt-txt a{
    color: #64a19d;
    text-decoration: underline;
  }
  .wt-txt-1{
    margin: 0 0 2rem 1rem;
    font-family: "Varela Round";
  }
  .email-txt{
    font-size: 14px;
  }
  .email-txt a{
    overflow-wrap: anywhere;
  }
  .wt-gst{
    margin: 0 0 0.5rem 0.5rem;
  }
  .send-btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1);
    padding: 1.25rem 2rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
    background-color: black;
    color: white;
  }


  /* career */
  .career{
    padding: 120px 0 0 0;
  }


  @media (max-width: 1100px) {
    .main-about, .main-vision, .main-products{
        width: 900px;
        margin: auto;
    }
    .product-cont, .about-cont, .vision-cont, .our-team-section{
        width: 900px;
        margin: auto;
    }
    .wrapper .box {
        background: #fff;
        width: calc(33% - 20px);
        padding: 25px;
        border-radius: 3px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }
    .main-intro{
        width: 900px;
        margin: auto;
    }
}


  @media (max-width: 900px) {
    .main-intro{
        width: 100%;
        margin: auto;
    }
    .main-about, .main-vision, .main-products{
        width: 600px;
        margin: auto;
    }
    .about-cont{
        width: 600px;
        margin: auto;
        flex-direction: column;
        padding: 0;
    }
    .vision-cont{
        width: 600px;
        margin: auto;
        flex-direction: column-reverse;
        padding: 0;
    }
    .about-right, .vision-left{
        padding: 40px;
    }
    .product-cont{
        width: 600px;
        margin: auto;
    }
    .pline{
        flex-direction: column;
        padding: 0;
    }
    .pbox{
        margin: 20px 0;
    }
    .our-team-section{
        width: 600px;
        margin: auto;
    }
    .wrapper{
        flex-direction: column;
    }
    .wrapper .box{
        width: 100%;
        margin: 10px 0;
    }
    .nav-logo img{
        width: 60px;
        height: 70px;
    }
    .about-right{
        width: 600px;
    }
    .vision-left{
        width: 600px;
    }
    .about-left img, .vision-right img{
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 600px) {
    .comp-name{
        font-size: 42px;
    }
    .comp-tag{
        font-size: 28px;
    }
    .main-about, .main-vision, .main-products{
        width: 400px;
        margin: auto;
    }
    .about-cont{
        width: 400px;
        margin: auto;
        flex-direction: column;
        padding: 0;
    }
    .vision-cont{
        width: 400px;
        margin: auto;
        flex-direction: column-reverse;
        padding: 0;
    }
    .product-cont{
        width: 400px;
        margin: auto;
    }
    .our-team-section{
        width: 400px;
        margin: auto;
    }
    .about-right{
        width: 400px;
    }
    .vision-left{
        width: 400px;
    }
}

@media (max-width: 500px) {
    .main-intro{
        width: 310px;
        margin: auto;
    }
    .main-about, .main-vision, .main-products{
        width: 310px;
        margin: auto;
    }
    .about-cont{
        width: 310px;
        margin: auto;
        flex-direction: column;
        padding: 0;
    }
    .vision-cont{
        width: 310px;
        margin: auto;
        flex-direction: column-reverse;
        padding: 0;
    }
    .product-cont{
        width: 310px;
        margin: auto;
    }
    .our-team-section{
        width: 340px;
        margin: auto;
    }
    .comp-name{
        font-size: 30px;
    }
    .comp-tag{
        font-size: 24px;
    }
    .heading{
        font-size: x-large;
    }
    .about-right, .vision-left, .pdesc p, .box p{
        font-size: 12px;
    }
}
